- @posts.each do |post|
  %article.articles-article
    .articles-article__inner
      %a.articles-article__eyecatch-image-wrapper{:href => post.link}
        %img{:src => "#{gravatar_image_url(post.user.email)}", :class => "articles-article__eyecatch-image"}
      %h2.articles-article__title
        %a.articles-article__title-link{:href => post.link}= post.title
      .articles-article__informations
        %img{:src => "#{gravatar_image_url(post.user.email)}", :class => "articles-article__author-icon-image"}
        .articles-article__created-at= post.created_at.strftime("%Y/%m/%d")
        - unless post.tags.size.zero?
          .articles-article__tags
            #{post.tags_to_html}

.pager
  %ul
    - if @posts.pager.previous_page
      %li.previous
        %a{:href => "?page=#{@posts.pager.previous_page}"} Newer
    - if @posts.pager.next_page
      %li.next
        %a{:href => "?page=#{@posts.pager.next_page}"} Older