%section{:class => "#{@page.slug}"}
  - if @page.slug == "service"
    %section.two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading
          運営サービス
      .two-column-content__inner
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
    %section.two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading
          受託サービス
      .two-column-content__inner
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望

  - if @page.slug == "members"
    %section.two-column-content.members__member
      .two-column-content__title-wrapper.members__title-wrapper
        %h2.two-column-content__second-heading.members__member-name
          KOMAGATA
        = image_tag("#{@theme.path}/images/member-icons/komagata.jpg", {:alt => 'komagata', :class => "members__member-icon-image"})
      .two-column-content__inner
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望

    %section.two-column-content.members__member
      .two-column-content__title-wrapper.members__title-wrapper
        %h2.two-column-content__second-heading.members__member-name
          MACHIDA
        = image_tag("#{@theme.path}/images/member-icons/machida.jpg", {:alt => 'komagata', :class => "members__member-icon-image"})
      .two-column-content__inner
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
  - if @page.slug == "contact"
    %section.two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading
          メール
      .two-column-content__inner
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
    %section.two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading
          その他
      .two-column-content__inner
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望

  - if @page.slug == "access"
    %section.two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading
          メール
      .two-column-content__inner
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望
    %section.two-column-content
      .two-column-content__title-wrapper
        %h2.two-column-content__second-heading
          その他
      .two-column-content__inner
        %p
          どんな小さな羽さえもそよがぬ 弱い息のお話をせがむとは！でもこの哀れな声一つ三つあわせた舌に逆らえましょうか？居丈だかなプリマがまずは唱えるその宣告は「おはじめなさい」すこし優しげに二番手の希望

  - if logged_in?
    %p
      %a{:href => @entry.edit_link}= t('edit')
